GCP_PROJECT_ID=<YOUR DATA>
GCP_REGION=asia-northeast1
GCP_LOCATION=global

SERVICE_NAME=gp-chat-on-gcp
REPO_NAME=<YOUR DATA>

RUNTIME_SA=<YOUR DATA>

GEMINI_MODEL_ID=gemini-3.1-pro

HOSTING_URL=<YOUR DATA>